<p id="notice"><%= notice %></p>


<% if params[:sort_order] == 'asc' %>
  <% @grades = Grade.order('student_grade ASC') %>
<% elsif params[:sort_order] == 'desc' %>
  <% @grades = Grade.order('student_grade DESC') %>
<% else %>
  <% @grades = Grade.all %>
<% end %>

<h1>Grades</h1>
<h2> Sort By:</h2>
<%= form_tag grades_path, method: :get do %>
 <%= select_tag :sort_order, options_for_select({ 'Ascending' => 'asc', 'Descending' => 'desc' }, params[:sort_order]), include_blank: false %>

  <%= submit_tag 'Sort' %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Student name</th>
      <th>Student grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.student_id %></td>
        <td><%= grade.student_name %></td>
        <td><%= grade.student_grade %></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= button_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_grade_path %>
