<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <strong>Navigation: </strong>
    <div class="nav-link">
      <% if user_signed_in? %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
            <a href="/">View Gradebook</a>
      <% else %>
            <a href="/users/sign_in">Sign In</a>
      <% end %>
    </div>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
